WebApplication1/src/conf/xml-resources/web-service-references/CustomerWebService/wsdl/localhost_8080/BumbelBee-Customer-Services/CustomerWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Eclipse Metro/2.4.8 (RELEASE-2.4.8-e044505; 2022-01-04T13:29:23+0000) JAXWS-RI/2.3.5 JAXWS-API/2.3.3 JAXB-RI/2.3.5 JAXB-API/2.3.3 git-revision#e044505. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Eclipse Metro/2.4.8 (RELEASE-2.4.8-e044505; 2022-01-04T13:29:23+0000) JAXWS-RI/2.3.5 JAXWS-API/2.3.3 JAXB-RI/2.3.5 JAXB-API/2.3.3 git-revision#e044505. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Services/" name="CustomerWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://Services/" schemaLocation="http://localhost:8080/BumbelBee-Customer-Services/CustomerWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="updateInformation">
<part name="parameters" element="tns:updateInformation"/>
</message>
<message name="getPaidInstallments">
<part name="parameters" element="tns:getPaidInstallments"/>
</message>
<message name="getPaidInstallmentsResponse">
<part name="parameters" element="tns:getPaidInstallmentsResponse"/>
</message>
<message name="getAllProducts">
<part name="parameters" element="tns:getAllProducts"/>
</message>
<message name="getAllProductsResponse">
<part name="parameters" element="tns:getAllProductsResponse"/>
</message>
<message name="getLoan">
<part name="parameters" element="tns:getLoan"/>
</message>
<message name="getLoanResponse">
<part name="parameters" element="tns:getLoanResponse"/>
</message>
<message name="getUnpaidLoans">
<part name="parameters" element="tns:getUnpaidLoans"/>
</message>
<message name="getUnpaidLoansResponse">
<part name="parameters" element="tns:getUnpaidLoansResponse"/>
</message>
<message name="loginCustomer">
<part name="parameters" element="tns:loginCustomer"/>
</message>
<message name="loginCustomerResponse">
<part name="parameters" element="tns:loginCustomerResponse"/>
</message>
<message name="getAllLoans">
<part name="parameters" element="tns:getAllLoans"/>
</message>
<message name="getAllLoansResponse">
<part name="parameters" element="tns:getAllLoansResponse"/>
</message>
<message name="payLoan">
<part name="parameters" element="tns:payLoan"/>
</message>
<message name="getAllProductsJson">
<part name="parameters" element="tns:getAllProductsJson"/>
</message>
<message name="getAllProductsJsonResponse">
<part name="parameters" element="tns:getAllProductsJsonResponse"/>
</message>
<portType name="CustomerWebService">
<operation name="updateInformation">
<input wsam:Action="http://Services/CustomerWebService/updateInformation" message="tns:updateInformation"/>
</operation>
<operation name="getPaidInstallments">
<input wsam:Action="http://Services/CustomerWebService/getPaidInstallmentsRequest" message="tns:getPaidInstallments"/>
<output wsam:Action="http://Services/CustomerWebService/getPaidInstallmentsResponse" message="tns:getPaidInstallmentsResponse"/>
</operation>
<operation name="getAllProducts">
<input wsam:Action="http://Services/CustomerWebService/getAllProductsRequest" message="tns:getAllProducts"/>
<output wsam:Action="http://Services/CustomerWebService/getAllProductsResponse" message="tns:getAllProductsResponse"/>
</operation>
<operation name="getLoan">
<input wsam:Action="http://Services/CustomerWebService/getLoanRequest" message="tns:getLoan"/>
<output wsam:Action="http://Services/CustomerWebService/getLoanResponse" message="tns:getLoanResponse"/>
</operation>
<operation name="getUnpaidLoans">
<input wsam:Action="http://Services/CustomerWebService/getUnpaidLoansRequest" message="tns:getUnpaidLoans"/>
<output wsam:Action="http://Services/CustomerWebService/getUnpaidLoansResponse" message="tns:getUnpaidLoansResponse"/>
</operation>
<operation name="loginCustomer">
<input wsam:Action="http://Services/CustomerWebService/loginCustomerRequest" message="tns:loginCustomer"/>
<output wsam:Action="http://Services/CustomerWebService/loginCustomerResponse" message="tns:loginCustomerResponse"/>
</operation>
<operation name="getAllLoans">
<input wsam:Action="http://Services/CustomerWebService/getAllLoansRequest" message="tns:getAllLoans"/>
<output wsam:Action="http://Services/CustomerWebService/getAllLoansResponse" message="tns:getAllLoansResponse"/>
</operation>
<operation name="payLoan">
<input wsam:Action="http://Services/CustomerWebService/payLoan" message="tns:payLoan"/>
</operation>
<operation name="getAllProductsJson">
<input wsam:Action="http://Services/CustomerWebService/getAllProductsJsonRequest" message="tns:getAllProductsJson"/>
<output wsam:Action="http://Services/CustomerWebService/getAllProductsJsonResponse" message="tns:getAllProductsJsonResponse"/>
</operation>
</portType>
<binding name="CustomerWebServicePortBinding" type="tns:CustomerWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="updateInformation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getPaidInstallments">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLoan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUnpaidLoans">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="loginCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllLoans">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="payLoan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getAllProductsJson">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CustomerWebService">
<port name="CustomerWebServicePort" binding="tns:CustomerWebServicePortBinding">
<soap:address location="http://localhost:8080/BumbelBee-Customer-Services/CustomerWebService"/>
</port>
</service>
</definitions>