WebApplication1/src/conf/xml-resources/web-service-references/CustomerWebService/wsdl/localhost_8080/BumbelBee-Customer-Services/CustomerWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Eclipse Metro/2.4.8 (RELEASE-2.4.8-e044505; 2022-01-04T13:29:23+0000) JAXWS-RI/2.3.5 JAXWS-API/2.3.3 JAXB-RI/2.3.5 JAXB-API/2.3.3 git-revision#e044505. --><xs:schema xmlns:tns="http://Services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Services/">

<xs:element name="getAllLoans" type="tns:getAllLoans"/>

<xs:element name="getAllLoansResponse" type="tns:getAllLoansResponse"/>

<xs:element name="getAllProducts" type="tns:getAllProducts"/>

<xs:element name="getAllProductsJson" type="tns:getAllProductsJson"/>

<xs:element name="getAllProductsJsonResponse" type="tns:getAllProductsJsonResponse"/>

<xs:element name="getAllProductsResponse" type="tns:getAllProductsResponse"/>

<xs:element name="getLoan" type="tns:getLoan"/>

<xs:element name="getLoanResponse" type="tns:getLoanResponse"/>

<xs:element name="getPaidInstallments" type="tns:getPaidInstallments"/>

<xs:element name="getPaidInstallmentsResponse" type="tns:getPaidInstallmentsResponse"/>

<xs:element name="getUnpaidLoans" type="tns:getUnpaidLoans"/>

<xs:element name="getUnpaidLoansResponse" type="tns:getUnpaidLoansResponse"/>

<xs:element name="loginCustomer" type="tns:loginCustomer"/>

<xs:element name="loginCustomerResponse" type="tns:loginCustomerResponse"/>

<xs:element name="payLoan" type="tns:payLoan"/>

<xs:element name="updateInformation" type="tns:updateInformation"/>

<xs:complexType name="getAllProductsJson">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllProductsJsonResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUnpaidLoans">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getUnpaidLoansResponse">
<xs:sequence>
<xs:element name="return" type="tns:loan" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loan">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="updateInformation">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="fulName" type="xs:string" minOccurs="0"/>
<xs:element name="dob" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLoan">
<xs:sequence>
<xs:element name="productId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLoanResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="payLoan">
<xs:sequence>
<xs:element name="loanId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllProducts">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllProductsResponse">
<xs:sequence>
<xs:element name="return" type="tns:product" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="product">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getPaidInstallments">
<xs:sequence>
<xs:element name="loanId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPaidInstallmentsResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginCustomer">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginCustomerResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllLoans">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllLoansResponse">
<xs:sequence>
<xs:element name="return" type="tns:loan" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>