BumbelBee-admin-frontend/src/conf/xml-resources/web-service-references/AdminService/wsdl/localhost_8080/BumbelBee-Admin-Services/AdminService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Eclipse Metro/2.4.8 (RELEASE-2.4.8-e044505; 2022-01-04T13:29:23+0000) JAXWS-RI/2.3.5 JAXWS-API/2.3.3 JAXB-RI/2.3.5 JAXB-API/2.3.3 git-revision#e044505. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Eclipse Metro/2.4.8 (RELEASE-2.4.8-e044505; 2022-01-04T13:29:23+0000) JAXWS-RI/2.3.5 JAXWS-API/2.3.3 JAXB-RI/2.3.5 JAXB-API/2.3.3 git-revision#e044505. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Services/" name="AdminService">
<types>
<xsd:schema>
<xsd:import namespace="http://Services/" schemaLocation="http://localhost:8080/BumbelBee-Admin-Services/AdminService?xsd=1"/>
</xsd:schema>
</types>
<message name="updateInformation">
<part name="parameters" element="tns:updateInformation"/>
</message>
<message name="loginAdmin">
<part name="parameters" element="tns:loginAdmin"/>
</message>
<message name="loginAdminResponse">
<part name="parameters" element="tns:loginAdminResponse"/>
</message>
<message name="updateProduct">
<part name="parameters" element="tns:updateProduct"/>
</message>
<message name="getAllCustomers">
<part name="parameters" element="tns:getAllCustomers"/>
</message>
<message name="getAllCustomersResponse">
<part name="parameters" element="tns:getAllCustomersResponse"/>
</message>
<message name="addProduct">
<part name="parameters" element="tns:addProduct"/>
</message>
<message name="addProductResponse">
<part name="parameters" element="tns:addProductResponse"/>
</message>
<message name="getAllProducts">
<part name="parameters" element="tns:getAllProducts"/>
</message>
<message name="getAllProductsResponse">
<part name="parameters" element="tns:getAllProductsResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="getCustomerById">
<part name="parameters" element="tns:getCustomerById"/>
</message>
<message name="getCustomerByIdResponse">
<part name="parameters" element="tns:getCustomerByIdResponse"/>
</message>
<message name="getProductById">
<part name="parameters" element="tns:getProductById"/>
</message>
<message name="getProductByIdResponse">
<part name="parameters" element="tns:getProductByIdResponse"/>
</message>
<message name="deleteProductById">
<part name="parameters" element="tns:deleteProductById"/>
</message>
<message name="deleteProductByIdResponse">
<part name="parameters" element="tns:deleteProductByIdResponse"/>
</message>
<message name="getAllProductsJson">
<part name="parameters" element="tns:getAllProductsJson"/>
</message>
<message name="getAllProductsJsonResponse">
<part name="parameters" element="tns:getAllProductsJsonResponse"/>
</message>
<portType name="AdminService">
<operation name="updateInformation">
<input wsam:Action="http://Services/AdminService/updateInformation" message="tns:updateInformation"/>
</operation>
<operation name="loginAdmin">
<input wsam:Action="http://Services/AdminService/loginAdminRequest" message="tns:loginAdmin"/>
<output wsam:Action="http://Services/AdminService/loginAdminResponse" message="tns:loginAdminResponse"/>
</operation>
<operation name="updateProduct">
<input wsam:Action="http://Services/AdminService/updateProduct" message="tns:updateProduct"/>
</operation>
<operation name="getAllCustomers">
<input wsam:Action="http://Services/AdminService/getAllCustomersRequest" message="tns:getAllCustomers"/>
<output wsam:Action="http://Services/AdminService/getAllCustomersResponse" message="tns:getAllCustomersResponse"/>
</operation>
<operation name="addProduct">
<input wsam:Action="http://Services/AdminService/addProductRequest" message="tns:addProduct"/>
<output wsam:Action="http://Services/AdminService/addProductResponse" message="tns:addProductResponse"/>
</operation>
<operation name="getAllProducts">
<input wsam:Action="http://Services/AdminService/getAllProductsRequest" message="tns:getAllProducts"/>
<output wsam:Action="http://Services/AdminService/getAllProductsResponse" message="tns:getAllProductsResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://Services/AdminService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://Services/AdminService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="getCustomerById">
<input wsam:Action="http://Services/AdminService/getCustomerByIdRequest" message="tns:getCustomerById"/>
<output wsam:Action="http://Services/AdminService/getCustomerByIdResponse" message="tns:getCustomerByIdResponse"/>
</operation>
<operation name="getProductById">
<input wsam:Action="http://Services/AdminService/getProductByIdRequest" message="tns:getProductById"/>
<output wsam:Action="http://Services/AdminService/getProductByIdResponse" message="tns:getProductByIdResponse"/>
</operation>
<operation name="deleteProductById">
<input wsam:Action="http://Services/AdminService/deleteProductByIdRequest" message="tns:deleteProductById"/>
<output wsam:Action="http://Services/AdminService/deleteProductByIdResponse" message="tns:deleteProductByIdResponse"/>
</operation>
<operation name="getAllProductsJson">
<input wsam:Action="http://Services/AdminService/getAllProductsJsonRequest" message="tns:getAllProductsJson"/>
<output wsam:Action="http://Services/AdminService/getAllProductsJsonResponse" message="tns:getAllProductsJsonResponse"/>
</operation>
</portType>
<binding name="AdminServicePortBinding" type="tns:AdminService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="updateInformation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="loginAdmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getAllCustomers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCustomerById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProductById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteProductById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllProductsJson">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AdminService">
<port name="AdminServicePort" binding="tns:AdminServicePortBinding">
<soap:address location="http://localhost:8080/BumbelBee-Admin-Services/AdminService"/>
</port>
</service>
</definitions>